
.hocInputWrapper {
  display: flex;         
  align-items: center;   
  position: relative;    
  flex-grow: 1;         
  width: 100%;           
}

.hocIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 12px; 
  position: absolute;   
  z-index: 2;
  color: #868e96;
}