.vacationInner {
    padding: 24px;
    padding-top: 84px;
}

.vacationFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px !important;
    justify-content: center;
    padding-inline: 0 !important;
    padding-block: 24px;
}